.contents_wrap {
    background-color: white;
    border-radius: 25px;
    height: auto;
    padding: 30px 30px;

    .btn_left {
        margin-right: 10px;
    }

    .btn_group_wrap {
        text-align: right;
    }

    .card_wrap {
        margin-top: 30px;

        .li_dom {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }

        .div_dom {
            display: flex !important;
            justify-content: space-between;
            align-items: center;

            div > svg {
                width: 20px;
                height: 20px;
                color: darkslateblue;
                cursor: pointer;
            }
          }
          
          .span_input {
            display: inline-block !important;
            zoom: 1.5;
          }
    }
}

.col_div .row {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.col_div .row img {
  width: auto;
  height: 95px;
}

.col_div .row p {
  text-align: center;
}