.label_wrap {
  padding-left: 0 !important;

  input {
    width: 100%;
  }
}

.input_wrap {
  padding-left: 50px !important;
  padding-right: 23px !important;
}

.union_img_wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    height: auto;
  }
}


.union_text {
  display: flex;
  justify-content: center;
}

.union_chart {
  margin-top: 5px !important;
}

.union_percent {
  display: flex;
  justify-content: flex-start;
}

.progress_style {
  width: 100%;
}

@media (max-width: 480px) {
  .union_text {
    display: flex;
    justify-content: flex-start;
  }

  .union_percent {
    display: flex;
    justify-content: flex-start;
  }
}
